.color1 {
    background-color: peachpuff;
}
.color2 {
    background-color: violet;
}
.color3 {
    background-color: yellow;
}
.color4 {
    background-color: cyan;
}
.color5 {
    background-color: coral;
}
